html {
    font-size: 20px;
    font-family: 'Domine', serif;
    line-height: 1.5em;
}

#title {
    text-align: center;
    font-family: 'Pacifico', cursive;
}

#img-div {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(189, 94, 58);
    padding: 0 1em;
}

img {
    display: block;
    width: 100%;
    max-width: 57em;
    margin: 0 auto;
    padding-top: 0.9em;
}
#img-caption{
    margin: 0 auto;
    text-align: center;
     font-size: 0.75em;
     font-style: italic;
}

h2{
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    font-family: 'Pacifico', cursive;
}

#tribute-info {
    width: 80%;
    margin: 0 auto;
}
