html {
    font-size: 20px;
}

#title {
    text-align: center;
}

#img-div {
    width: 80%;
    margin: 0 auto;
}

img {
    display: block;
    width: 100%;
    max-width: 50em;
    margin: 0 auto;
    max-width: ;
}